{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block head %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/index.css' %}">
{% endblock %}
{% block main %}
    <div class="main-container">
        <nav class="navbar navbar-default">
            <div class="input-group">
                <img class="pull-left" src="{% static 'img/bg.jpg' %}">
                <div class="pull-left serach">
                    <input type="text" class="form-container" placeholder="搜索">
                    <button class="btn btn-default glyphicon glyphicon-search" type="button"/>
                </div>
                <img class="pull-right" src="{% static 'img/bg.jpg' %}">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"><h2>link</h2></ul>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
            <div>
                {% for good in good %}
                    <div class="pull-left" href="#">
                        <div><img class="img-rounded" src="{% static 'img/logo.jpg' %}"></div>
                        <div>{{ good.price }}</div>
                        <a href="#">{{ good.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </nav>
    </div>
{% endblock %}